* {
  font-family: 'Google Sans';
}

main {
  width:100%;
  background-color:white;
}

header {
  padding-top:200px;
  text-align: center;
  line-height: 15px;
  font-style:normal;
  background-color:white;
  height:500px;
  border-bottom: 1px solid grey;
}

header h1 {
  font-size:55px;
  font-style: bold;
}

button {
  width:100px;
  height:40px;
  border-radius: 5px;
  border:none;
  color:white;
  background-color:rgb(31, 110, 228);
  box-shadow:2px 2px 8px grey; 
  margin:10px 5px;
}

.secondary {
  background-color:white;
  color:rgb(31, 110, 228);
  border:none;
}

button:focus {
  border-color: white;
}

buttono {
  border-color:red;
  background-color:yellow;
}