* {
  font-family: 'Google Sans';
  scroll-behavior: smooth;
}

main {
  width:100%;
  background-color:white;
}

header {
  padding-top:200px;
  text-align: center;
  line-height: 15px;
  font-style:normal;
  background-color:white;
  height:400px;
  border-bottom: 1px solid #d6d6d6;

}

header h1 {
  font-size:55px;
  font-style: bold;
}

.text {
  margin-bottom:45px;  
}

.button {
  width:100px;
  height:40px;
  border-radius: 5px;
  border:none;
  color:white;
  background-color:rgb(31, 110, 228);
  box-shadow:2px 2px 8px grey; 
  margin:55px 5px;
  padding:15px;
}

a {
  text-decoration: none;
}

.secondary {
  background-color:white;
  color:rgb(31, 110, 228);
  border:none;
}

.button:focus {
  border-color: white;
}

.about-me{
  background-color:white;
  height:400px;
  border-bottom: 1px solid #d6d6d6;   
  text-align: center;
}

.about-me h1 {
  padding-top:200px;
}